# Dependencies
node_modules

# Backend (PocketBase binary & data)
backend/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Databases (Just in case they are outside backend)
*.db
*.db-journal
src/lib/components/lawcp.code-workspace
